@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  box-sizing: border-box;
  color: rgb(54, 54, 54);
  background-color: #999189;
  font-family: "Bangers", cursive;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-areas:
    "h-header h-header m-header m-header"
    "evne evne monster monster"
    "udholdenhed udholdenhed monster monster"
    "held held monster monster"
    "udstyr guld monster monster"
    "udstyr skatte monster monster"
    "udstyr skatte monster monster"
    "udstyr proviant noter noter"
    "udstyr proviant noter noter";
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(9, minmax(0, 1fr));
}

.abillityContainer {
  display: flex;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

.abillityContainer h3 {
  display: inline-block;
}

.abilityControl {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

button {
  height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 25%;
  border: 3px rgb(54, 54, 54) solid;
  background-color: inherit;
}

input {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  background-color: inherit;
}

input.inputBox {
  padding: 0.25rem;
}

input[type="number"].numbers {
  appearance: textfield;
  height: 2.5rem;
  width: 3rem;
  text-align: center;
}

.history {
  display: flex;
  flex-wrap: wrap;
}

.history span {
  position: relative;
  height: 2rem;
  width: 2rem;
  text-align: center;
  vertical-align: center;
  line-height: 2rem;
  margin: 0.25rem;
}

.history span:not(:last-child)::before {
  position: absolute;
  left: 0;
  top: 1rem;
  width: 2rem;
  height: 0.2rem;
  content: "";
  background-color: rgba(54, 54, 54, 0.9);
  transform: rotate(-15deg);
}

body > h1:first-of-type {
  grid-area: h-header;
}
body > h1:last-of-type {
  grid-area: m-header;
}

body > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 0.5rem;
  border: solid black;
  border-color: black;
  padding: 0.5rem 1rem;
  border-width: 3px 4px 3px 5px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transform: rotate(0.5deg);
}
#evne {
  grid-area: evne;
}

#udholdenhed {
  grid-area: udholdenhed;
}

#held {
  grid-area: held;
}

#udstyr {
  grid-area: udstyr;
  display: flex;
  flex-direction: column;
}

#guld {
  grid-area: guld;
}

#skatte {
  grid-area: skatte;
  display: flex;
  flex-direction: column;
}
textarea {
  font-family: inherit;
  font-size: 1.8rem;
  flex-grow: 1;
  width: 100%;
  background-color: inherit;
  border: none;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: rgb(54, 54, 54) #999189;
}
textarea:focus {
  outline: none;
}

#proviant {
  grid-area: proviant;
  display: flex;
  flex-direction: column;
}

.monster {
  position: relative;
}

.monster.dead::before {
  position: absolute;
  left: -2rem;
  top: 50%;
  width: 70%;
  height: 0.2rem;
  content: "";
  background-color: rgba(87, 29, 29, 0.9);
  transform: rotate(-15deg);
}

#monsters {
  grid-area: monster;
  display: flex;
  flex-direction: column;
}

#monsterControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#monsterControl * {
  flex: 1 1 auto;
  height: 4rem;
}

#monsterContainer {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: max-content;
  gap: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: rgb(54, 54, 54) #999189;
}

#noter {
  grid-area: noter;
  display: flex;
  flex-direction: column;
}

.red {
  background-color: red;
}
